@using NextERP.ModelBase
@using NextERP.Util
@model NextERP.ModelBase.SpaServiceModel
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer Localizer

@{
    ViewData["Title"] = TableName.SpaService;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Breadcrumbs = new List<(string Title, string Url, bool IsActive)>
{
        (TableName.SpaService + "List", "", true),
    };
}

<div class="main-container">
    <div id="success-msg" class="position-fixed top-0 end-0 p-3 m-2 d-none" role="alert" aria-live="assertive" aria-atomic="true"></div>
    <input type="hidden" id="current-page-index" value="1" />

    <!--& FILTER -->
    <section class="filter-panel card">
        <form method="post">
            <div class="filter-actions">
                <button type="button" class="btn btn-success" id="create-button" data-bs-toggle="modal" data-bs-target="#create-edit-modal">
                    <i class="fa-solid fa-plus"></i> <span localize-content>Create</span>
                </button>
                <button type="button" class="btn btn-warning disabled" id="edit-button" data-bs-toggle="modal" data-bs-target="#create-edit-modal">
                    <i class="fa-solid fa-pen"></i> <span localize-content>Edit</span>
                </button>
                <input type="text" name="Ids" id="Ids" hidden />
                <button type="button" class="btn btn-danger disabled" id="delete-button">
                    <i class="fa-solid fa-trash"></i> <span localize-content>Delete</span>
                </button>
                <button type="button" class="btn btn-danger disabled" id="delete-permanently-button">
                    <i class="fa-solid fa-trash"></i> <span localize-content>DeletePermanently</span>
                </button>
                <button type="button" class="btn btn-secondary" id="import-button" data-bs-toggle="modal" data-bs-target="#import-modal">
                    <i class="fa-solid fa-file-import"></i> <span localize-content>Import</span>
                </button>
                <button type="button" class="btn btn-secondary" id="export-button" data-bs-toggle="modal" data-bs-target="#export-modal">
                    <i class="fa-solid fa-file-export"></i> <span localize-content>Export</span>
                </button>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#filter-inputs" aria-expanded="true" aria-controls="filter-inputs">
                    <i class="fa-solid fa-filter"></i>
                </button>
                <a href="#" id="refresh-list"><i class="fa-solid fa-rotate"></i></a>
                <div class="d-flex align-items-center ms-2 pb-2">
                    <input class="form-check-input" type="checkbox" value="" id="is-delete">
                    <label class="form-check-label fs-5" for="is-delete" localize-content>IsDelete</label>
                </div>
            </div>
        </form>

        <div class="collapse" id="filter-inputs">
            <form id="@TableName.SpaService-search-form" class="m-2">
                <div class="row g-2 mb-2">
                    <div class="col-3">
                        <label for="@SpaServiceModel.AttributeNames.SpaServiceCode" class="col-form-label col-md-6" localize-content>@SpaServiceModel.AttributeNames.SpaServiceCode</label>
                        <input type="text" class="form-control form-control-sm" asp-for="SpaServiceCode" />
                    </div>

                    <div class="col-3">
                        <label for="@SpaServiceModel.AttributeNames.OperatingStatus" class="col-form-label col-md-6" localize-content>@SpaServiceModel.AttributeNames.OperatingStatus</label>
                        <select class="form-select form-select-sm" asp-for="OperatingStatus">
                            <option value=""></option>
                            @foreach (var item in Enum.GetValues(typeof(Enums.OperatingStatus)))
                            {
                                <option value="@item" localize-content>@item</option>
                            }
                        </select>
                    </div>

                    <div class="col-3">
                        <label for="@Constants.DateCreate" class="col-form-label col-md-6" localize-content>@Constants.DateCreate</label>
                        <input type="date" class="form-control form-control-sm" asp-for="DateCreate" />
                    </div>

                    <div class="col-3">
                        <label for="@Constants.DateUpdate" class="col-form-label col-md-6" localize-content>@Constants.DateUpdate</label>
                        <input type="date" class="form-control form-control-sm" asp-for="DateUpdate" />
                    </div>
                </div>

                <div class="text-end">
                    <button type="button" class="btn btn-info" id="search-button">
                        <i class="fa-solid fa-magnifying-glass"></i> <span localize-content>Search</span>
                    </button>
                    <button type="button" class="btn btn-secondary" id="clear-button">
                        <i class="fa-solid fa-broom"></i> <span localize-content>Clear</span>
                    </button>
                </div>
            </form>
        </div>
    </section>

    <!--& TABLE -->
    <section class="table-wrapper card">
        <div class="table-wrapper-body row">
            <div class="table-wrapper-main" id="@TableName.SpaService-table">
            </div>
        </div>
    </section>

    <!--& MODAL -->
    <section class="modal-wrapper">
        @await Html.PartialAsync(ScreenName.SpaService.SpaServiceForm, Model)
        @await Component.InvokeAsync(Constants.Import, TableName.SpaService)
        @await Component.InvokeAsync(Constants.Export, TableName.SpaService)
    </section>
</div>

<script>
    let $spaServiceId;

    $(function () {
        loadSpaServices();
    });

    $("#refresh-list").click(function(){
        loadSpaServices();
    });

    $("#is-delete").change(function () {
        loadSpaServices();
    })

    $(document).on("change", ".@TableName.SpaService-checkbox", function () {
        // Gán giá trị cho biến Id để sử dụng với các hành động (sửa, xóa, v.v.)
        $spaServiceId = $(this).is(":checked") ? $(this).closest("tr").find('input[name="@SpaServiceModel.AttributeNames.SpaServiceId"]').val() : "";

        // Kiểm tra số lượng checkbox đã chọn và cập nhật trạng thái của các nút
        const $length = $(".@TableName.SpaService-checkbox:checked").length;
        checkLengthCheckbox($length, true, true, true, true, "@TableName.SpaService-checkbox");
    });

    $("#create-button").click(function () {
        $("#only-save-button").css("display", "flex");
    });

    $("#edit-button").click(function () {
        $("#only-save-button").css("display", "none");

        callApi("@Url.Action(Constants.CreateOrEdit, TableName.SpaService)/" + $spaServiceId, "GET")
            .then(data => {
                // Khi trả ra json các field sẽ bị viết thường chữ cái đâu
                $("#@TableName.SpaService #@SpaServiceModel.AttributeNames.SpaServiceId").val(data.id);
                $("#@TableName.SpaService #@SpaServiceModel.AttributeNames.SpaServiceCode").val(data.spaServiceCode);
                $("#@TableName.SpaService #@SpaServiceModel.AttributeNames.SpaServiceName").val(data.spaServiceName);
                $("#@TableName.SpaService #@SpaServiceModel.AttributeNames.Price").val(data.price);
                $("#@TableName.SpaService #@SpaServiceModel.AttributeNames.Duration").val(data.duration);
                $("#@TableName.SpaService #@SpaServiceModel.AttributeNames.SpaServiceLevel").val(data.spaServiceLevel);
                $("#@TableName.SpaService #@SpaServiceModel.AttributeNames.IsPromotional").val(data.isPromotional);
                $("#@TableName.SpaService #@SpaServiceModel.AttributeNames.Note").val(data.note);
                $("#@TableName.SpaService #@SpaServiceModel.AttributeNames.OperatingStatus").val(data.operatingStatus).trigger("change");
            })
            .catch(err => {
                showMessage("@Localizer[Messages.ErrorCallAPI]");
            });
    });

    $("#delete-button").click(function () {
        // Lấy tất cả các Id của các checkbox đã chọn
        const $ids = $(".@TableName.SpaService-checkbox:checked").map(function () {
            return $(this).closest("tr").find('input[name="@SpaServiceModel.AttributeNames.SpaServiceId"]').val();
        }).get().join(",");

        $("#Ids").val($ids);

        const $form = $(this).closest("form");
        const formData = new FormData($form[0]);

        callApi("@Url.Action(Constants.Delete, TableName.SpaService)", "POST", formData)
            .then(data => {
                loadSpaServices();
            })
            .catch(err => {
                showMessage("@Localizer[Messages.ErrorCallAPI]");
            });
    });

    $("#delete-permanently-button").click(function () {
        // Lấy tất cả các Id của các checkbox đã chọn
        const $ids = $(".@TableName.SpaService-checkbox:checked").map(function () {
            return $(this).closest("tr").find('input[name="@SpaServiceModel.AttributeNames.SpaServiceId"]').val();
        }).get().join(",");

        $("#Ids").val($ids);

        const $form = $(this).closest("form");
        const formData = new FormData($form[0]);

        callApi("@Url.Action(Constants.DeletePermanently, TableName.SpaService)", "POST", formData)
            .then(data => {
                loadSpaServices();
            })
            .catch(err => {
                showMessage("@Localizer[Messages.ErrorCallAPI]");
            });
    });

    $("#search-button").click(function () {
        loadSpaServices();
    })

    $("#clear-button").click(function () {
        $("#@TableName.SpaService-search-form")[0].reset();

        loadSpaServices();
    })

    function loadSpaServices(el, pageIndex) {
        // Khỏi tạo filter và gán giá trị
        const $isDelete = $("#is-delete").is(":checked");
        $(".loader").css("display", "flex");

        const $form = $(el).closest("form");
        const formData = new FormData($form[0]);

        // Xóa các key không cần thiết (__Invariant)
        const cleanEntries = Array.from(formData.entries()).filter(([key]) => key !== "__Invariant");

        const filter = new FormData();
        cleanEntries.forEach(([key, value]) => filter.append(key, value));
        filter.append("@Constants.PageIndex", pageIndex);
        filter.append("@Constants.IsDelete", $isDelete);

        callApi("@Url.Action(Constants.GetList, TableName.SpaService)", "POST", filter, "#@TableName.SpaService-table")
            .then(data => {
                // Kiểm tra số lượng checkbox đã chọn và cập nhật trạng thái của các nút
                checkLengthCheckbox(0, true, true, true, true, "@TableName.SpaService-checkbox");

                // Load lại table thì gán lại "" để khi bám nút thêm không lỗi
                $spaServiceId = "";
            })
            .catch(err => {
                showMessage("@Localizer[Messages.ErrorCallAPI]");
            });
    }
</script>