@model NextERP.ModelBase.TemplateMailModel

<div class="modal fade" id="create-edit-modal" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<form class="needs-validation" id="@TableName.TemplateMail" novalidate>
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel" localize-content>CreateOrEdit</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input id="@TemplateMailModel.AttributeNames.TemplateMailId" type="hidden" asp-for="Id" />

					<div class="mb-2">
						<label for="@TemplateMailModel.AttributeNames.TemplateMailCode" class="col-form-label col-md-12" localize-content>@TemplateMailModel.AttributeNames.TemplateMailCode</label>
						<div class="col-md-12">
							<input class="form-control form-control-sm" type="text" asp-for="TemplateMailCode" disabled />
						</div>
					</div>

					<div class="mb-2">
						<label for="@TemplateMailModel.AttributeNames.TemplateMailName" class="col-form-label col-md-12" localize-content>@TemplateMailModel.AttributeNames.TemplateMailName</label>
						<div class="col-md-12">
							<input class="form-control form-control-sm" type="text" asp-for="TemplateMailName" />
							<div class="invalid-feedback" id="invalid-@TemplateMailModel.AttributeNames.TemplateMailName" localize-content></div>
						</div>
					</div>

					<div class="mb-2">
						<label for="@TemplateMailModel.AttributeNames.TemplateContent" class="col-form-label col-md-12" localize-content>@TemplateMailModel.AttributeNames.TemplateContent</label>
						<div class="col-md-12">
							<textarea class="form-control form-control-sm" rows="3" asp-for="TemplateContent"></textarea>
							<div class="invalid-feedback" id="invalid-@TemplateMailModel.AttributeNames.TemplateContent" localize-content></div>
						</div>
					</div>

					<div class="mb-2">
						<label for="@TemplateMailModel.AttributeNames.Note" class="col-form-label col-md-12" localize-content>@TemplateMailModel.AttributeNames.Note</label>
						<div class="col-md-12">
							<textarea class="form-control form-control-sm" rows="3" asp-for="Note"></textarea>
							<div class="invalid-feedback" id="invalid-@TemplateMailModel.AttributeNames.Note" localize-content></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
						<i class="fa-solid fa-xmark"></i> <span localize-content>@Constants.ButtonClose</span>
					</button>
					<button type="button" class="button-outline btn btn-sm save-button" id="only-save-button">
						@{
							var saveIcon = @"<svg class=""icon"" fill=""none"" stroke=""currentColor"" viewBox=""0 0 24 24"" xmlns=""http://www.w3.org/2000/svg"" stroke-linecap=""round"" stroke-linejoin=""round"" stroke-width=""2.5""><path d=""M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z""></path><polyline points=""17 21 17 13 7 13 7 21""></polyline><polyline points=""7 3 7 8 15 8""></polyline></svg>";
						}

						@await Component.InvokeAsync(Constants.Button, new { nameButton = Constants.ButtonSave, iconHtml = saveIcon })
					</button>
					<button type="button" class="button btn btn-sm save-button" data-bs-dismiss="modal">
						@{
							var saveAndCloseIcon = @"<svg class=""icon"" fill=""none"" stroke=""currentColor"" viewBox=""0 0 24 24"" xmlns=""http://www.w3.org/2000/svg"" stroke-linecap=""round"" stroke-linejoin=""round"" stroke-width=""2.5""><path d=""M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z""></path><polyline points=""17 21 17 13 7 13 7 21""></polyline><polyline points=""7 3 7 8 15 8""></polyline></svg>";
						}

						@await Component.InvokeAsync(Constants.Button, new { nameButton = Constants.ButtonSaveAndClose, iconHtml = saveAndCloseIcon })
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(function () {
		// Kích hoạt strict mode cho toàn bộ code bên trong hàm này
		'use strict';

		$(".save-button").click(function () {
			const $btn = $(this);
			$btn.startLoading();

			const $searchForm = $("#@TableName.TemplateMail-search-form");
			const $saveForm = $(this).closest("form");
			const $formElement = $saveForm.get(0);
			const $formData = new FormData($formElement);
			let id = $formData.get("@Constants.Id");

			// Nếu không có ID (tạo mới), set Guid.Empty
			if (!id || id.trim() === "") {
				$formData.set("@Constants.Id", "@Guid.Empty");
			}

			callApi("@Url.Action(Constants.CreateOrEdit, TableName.TemplateMail)", "POST", $formData)
				.then(data => {
					loadTemplateMails($searchForm);

					if (data && Array.isArray(data)) {
						showInvalid(data, $formElement);
					}
				})
				.catch(err => {
					showMessage("@Localizer[Messages.ErrorCallAPI]");
				})
				.finally(() => {
					$btn.stopLoading();
				});
		});
	});
</script>
