@model NextERP.ModelBase.TemplateNotificationModel

@{
    ViewData["Title"] = TableName.TemplateNotification;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Breadcrumbs = new List<(string Title, string Url, bool IsActive)>
{
        (TableName.TemplateNotification + "List", "", true),
    };
}

<div class="main-container">
    <div id="success-msg" class="position-fixed top-0 end-0 p-3 m-2 d-none" role="alert" aria-live="assertive" aria-atomic="true"></div>
    <input type="hidden" id="current-page-index" value="1" />

    <!--& FILTER -->
    <section class="filter-panel card">
        <form method="post">
            <div class="filter-actions">
                <button type="button" class="btn btn-sm btn-success" id="create-button" data-bs-toggle="modal" data-bs-target="#create-edit-modal">
                    <i class="fa-solid fa-plus"></i> <span localize-content>@Constants.ButtonCreate</span>
                </button>
                <button type="button" class="btn btn-sm btn-warning disabled" id="edit-button" data-bs-toggle="modal" data-bs-target="#create-edit-modal">
                    <i class="fa-solid fa-pen"></i> <span localize-content>@Constants.ButtonEdit</span>
                </button>
                <input type="text" name="Ids" id="Ids" hidden />
                <button type="button" class="btn btn-sm btn-danger disabled" id="delete-button">
                    <i class="fa-solid fa-trash"></i> <span localize-content>@Constants.ButtonDelete</span>
                </button>
                <button type="button" class="btn btn-sm btn-danger disabled" id="delete-permanently-button">
                    <i class="fa-solid fa-trash"></i> <span localize-content>@Constants.ButtonDeletePermanently</span>
                </button>
                <button type="button" class="btn btn-sm btn-secondary" id="import-button" data-bs-toggle="modal" data-bs-target="#import-modal">
                    <i class="fa-solid fa-file-import"></i> <span localize-content>@Constants.ButtonImport</span>
                </button>
                <button type="button" class="btn btn-sm btn-secondary" id="export-button" data-bs-toggle="modal" data-bs-target="#export-modal">
                    <i class="fa-solid fa-file-export"></i> <span localize-content>@Constants.ButtonExport</span>
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#filter-inputs" aria-expanded="true" aria-controls="filter-inputs">
                    <i class="fa-solid fa-filter"></i>
                </button>
                <a href="#" id="refresh-list"><i class="fa-solid fa-rotate"></i></a>
                <div class="ms-2">
                    <input class="form-check-input" type="checkbox" value="" id="is-delete">
                    <label class="form-check-label" for="is-delete" localize-content>IsDelete</label>
                </div>
            </div>
        </form>

        <div class="collapse" id="filter-inputs">
            <form id="@TableName.TemplateNotification-search-form" class="m-2">
                <div class="row g-2 mb-2">
                    <div class="col-3">
                        <label for="@TemplateNotificationModel.AttributeNames.TemplateNotificationCode" class="col-form-label col-md-12" localize-content>@TemplateNotificationModel.AttributeNames.TemplateNotificationCode</label>
                        <input type="text" class="form-control form-control-sm" asp-for="TemplateNotificationCode" />
                    </div>

                    <div class="col-3">
                        <label for="@Constants.DateCreate" class="col-form-label col-md-12" localize-content>@Constants.DateCreate</label>
                        <input type="date" class="form-control form-control-sm" asp-for="DateCreate" />
                    </div>

                    <div class="col-3">
                        <label for="@Constants.DateUpdate" class="col-form-label col-md-12" localize-content>@Constants.DateUpdate</label>
                        <input type="date" class="form-control form-control-sm" asp-for="DateUpdate" />
                    </div>
                </div>

                <div class="text-end">
                    <button type="button" class="btn btn-sm btn-info" id="search-button">
                        <i class="fa-solid fa-magnifying-glass"></i> <span localize-content>@Constants.ButtonSearch</span>
                    </button>
                    <button type="button" class="btn btn-sm btn-secondary" id="clear-button">
                        <i class="fa-solid fa-broom"></i> <span localize-content>@Constants.ButtonClear</span>
                    </button>
                </div>
            </form>
        </div>
    </section>

    <!--& TABLE -->
    <section class="table-wrapper card">
        <div class="table-wrapper-body row">
            <div class="table-wrapper-main" id="@TableName.TemplateNotification-table">
            </div>
        </div>
    </section>

    <!--& MODAL -->
    <section class="modal-wrapper">
        @await Html.PartialAsync(ScreenName.TemplateNotification.TemplateNotificationForm, Model)
        @await Component.InvokeAsync(Constants.Import, TableName.TemplateNotification)
        @await Component.InvokeAsync(Constants.Export, TableName.TemplateNotification)
    </section>
</div>

@section Scripts {
    <script>
        let $templateNotificationId;
        let $searchForm;

        $(function () {
            // Kích hoạt strict mode cho toàn bộ code bên trong hàm này
            'use strict';

            $searchForm = $("#@TableName.TemplateNotification-search-form");

            loadTemplateNotifications($searchForm);

            $("#refresh-list").click(function(){
                loadTemplateNotifications($searchForm);
            });

            $("#is-delete").change(function () {
                loadTemplateNotifications($searchForm);
            });

            $(document).on("change", ".@TableName.TemplateNotification-checkbox", function () {
                // Gán giá trị cho biến Id để sử dụng với các hành động (sửa, xóa, v.v.)
                $templateNotificationId = $(this).is(":checked") ? $(this).closest("tr").find('input[name="@TemplateNotificationModel.AttributeNames.TemplateNotificationId"]').val() : "";

                // Kiểm tra số lượng checkbox đã chọn và cập nhật trạng thái của các nút
                const $length = $(".@TableName.TemplateNotification-checkbox:checked").length;
                checkLengthCheckbox($length, true, true, true, true, "@TableName.TemplateNotification-checkbox");
            });

            $("#create-button").click(function () {
                $("#only-save-button").css("display", "flex");
            });

            $("#edit-button").click(function () {
                $("#only-save-button").css("display", "none");

                callApi("@Url.Action(Constants.CreateOrEdit, TableName.TemplateNotification)/" + $templateNotificationId, "GET")
                    .then(data => {
                        // Khi trả ra json các field sẽ bị viết thường chữ cái đâu
                        $("#@TableName.TemplateNotification #@TemplateNotificationModel.AttributeNames.TemplateNotificationId").val(data.id);
                        $("#@TableName.TemplateNotification #@TemplateNotificationModel.AttributeNames.TemplateNotificationCode").val(data.templateNotificationCode);
                        $("#@TableName.TemplateNotification #@TemplateNotificationModel.AttributeNames.TemplateNotificationName").val(data.templateNotificationName);
                        $("#@TableName.TemplateNotification #@TemplateNotificationModel.AttributeNames.TemplateContent").val(data.templateContent);
                        $("#@TableName.TemplateNotification #@TemplateNotificationModel.AttributeNames.Note").val(data.note);
                    })
                    .catch(err => {
                        showMessage("@Localizer[Messages.ErrorCallAPI]");
                    });
            });

            $("#delete-button").click(function () {
                deleteTemplateNotification("@Constants.Delete", $(this).closest("form"));
            });

            $("#delete-permanently-button").click(function () {
                deleteTemplateNotification("@Constants.DeletePermanently", $(this).closest("form"));
            });

            $("#search-button").click(function () {
                 loadTemplateNotifications($searchForm);
            });

            $("#clear-button").click(function () {
                 $searchForm.get(0).reset();

                loadTemplateNotifications($searchForm);
            });
        });

        function deleteTemplateNotification(actionName, $form) {
            const $btn = $(this);
            $btn.startLoading();

            // Lấy tất cả các Id của các checkbox đã chọn
            const $ids = $(".@TableName.TemplateNotification-checkbox:checked").map(function () {
                return $(this).closest("tr").find('input[name="@TemplateNotificationModel.AttributeNames.TemplateNotificationId"]').val();
            }).get().join(",");

            $form.find("#Ids").val($ids);

            // Tạo URL API bằng JavaScript lấy URL cơ bản của Controller (tùy chọn)
            const baseUrl = "@Url.Action("", TableName.TemplateNotification)";

            // Thay thế 'actionName' vào URL
            const apiUrl = baseUrl.endsWith('/') ? baseUrl + actionName : baseUrl + '/' + actionName;

            const $formData = new FormData($form.get(0));

            callApi(apiUrl, "POST", $formData)
                .then(data => {
                    loadTemplateNotifications($searchForm);
                })
                .catch(err => {
                    showMessage("@Localizer[Messages.ErrorCallAPI]");
                })
                .finally(() => {
                    $btn.stopLoading();
                });
        }

        function loadTemplateNotifications($form, pageIndex) {
            $(".loader").fadeIn(350);

            const $formData = new FormData($form.get(0));

            const filter = new FormData();
            filter.append("@Constants.PageIndex", pageIndex);

            const $isDelete = $("#is-delete").is(":checked");
            filter.append("@Constants.IsDelete", $isDelete);

            // Xóa các key không cần thiết (__Invariant)
            for (const [key, value] of $formData.entries()) {
                if (key !== "__Invariant") {
                    filter.append(key, value);
                }
            }

            callApi("@Url.Action(Constants.GetList, TableName.TemplateNotification)", "POST", filter, "#@TableName.TemplateNotification-table")
                .then(data => {
                    // Kiểm tra số lượng checkbox đã chọn và cập nhật trạng thái của các nút
                    checkLengthCheckbox(0, true, true, true, true, "@TableName.TemplateNotification-checkbox");

                    // Load lại table thì gán lại "" để khi bám nút thêm không lỗi
                    $templateNotificationId = "";
                })
                .catch(err => {
                    showMessage("@Localizer[Messages.ErrorCallAPI]");
                });
        }
    </script>
}
