@using NextERP.ModelBase
@using NextERP.Util
@model NextERP.ModelBase.DepartmentModel

<div class="modal fade" id="create-edit-modal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form class="needs-validation" id="@TableName.Department" novalidate>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" localize-content>CreateOrEdit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="@DepartmentModel.AttributeNames.DepartmentId" type="hidden" asp-for="Id" />

                    <div class="mb-2">
                        <label for="@DepartmentModel.AttributeNames.DepartmentCode" class="col-form-label col-md-6" localize-content>@DepartmentModel.AttributeNames.DepartmentCode</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="text" asp-for="DepartmentCode" disabled />
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@DepartmentModel.AttributeNames.DepartmentName" class="col-form-label col-md-6" localize-content>@DepartmentModel.AttributeNames.DepartmentName</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="text" asp-for="DepartmentName" />
                            <div class="invalid-feedback" id="invalid-@DepartmentModel.AttributeNames.DepartmentName" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@DepartmentModel.AttributeNames.NumberOfEmployees" class="col-form-label col-md-6" localize-content>@DepartmentModel.AttributeNames.NumberOfEmployees</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="number" asp-for="NumberOfEmployees" min="10" max="10" />
                            <div class="invalid-feedback" id="invalid-@DepartmentModel.AttributeNames.NumberOfEmployees" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@DepartmentModel.AttributeNames.OperatingStatus" class="col-form-label col-md-6" localize-content>@DepartmentModel.AttributeNames.OperatingStatus</label>
                        <div class="col-md-12">
                            <select class="form-select form-select-sm" asp-for="OperatingStatus">
                                <option value=""></option>
                                @foreach (var item in Enum.GetValues(typeof(Enums.OperatingStatus)))
                                {
                                    <option value="@item" localize-content>@item</option>
                                }
                            </select>
                            <div class="invalid-feedback" id="invalid-@DepartmentModel.AttributeNames.OperatingStatus" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@DepartmentModel.AttributeNames.Note" class="col-form-label col-md-6" localize-content>@DepartmentModel.AttributeNames.Note</label>
                        <div class="col-md-12">
                            <textarea class="form-control form-control-sm" KD rows="3" asp-for="Note"></textarea>
                            <div class="invalid-feedback" id="invalid-@DepartmentModel.AttributeNames.Note" localize-content></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" localize-content>Close</button>
                    <button type="button" class="btn btn-outline-primary save-button" id="only-save-button" localize-content>Save</button>
                    <button type="button" class="btn btn-primary save-button" data-bs-dismiss="modal" localize-content>Save&Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(".save-button").click(function () {
        const $form = $(this).closest("form");
        const formData = new FormData($form[0]);
        const formElement = $form[0];
        let id = formData.get("@Constants.Id");

        // Nếu không có ID (tạo mới), set Guid.Empty
        if (!id || id === "") {
            formData.set("@Constants.Id", "@Guid.Empty");
        }

        callApi("@Url.Action(Constants.CreateOrEdit, TableName.Department)", "POST", formData)
            .then(data => {
                loadDepartments();

                if (data && Array.isArray(data)) {
                    showInvalid(data, formElement);
                }
            })
            .catch(err => {
                showMessage("F:Có lỗi call api xảy ra!");
            });
    });
</script>
