@using NextERP.ModelBase
@using NextERP.Util
@model NextERP.ModelBase.AttendanceModel

<div class="modal fade" id="create-edit-modal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form class="needs-validation" id="@TableName.Attendance" novalidate>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" localize-content>CreateOrEdit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="@AttendanceModel.AttributeNames.AttendanceId" type="hidden" asp-for="Id" />

                    <div class="mb-2">
                        <label for="@AttendanceModel.AttributeNames.AttendanceCode" class="col-form-label col-md-6" localize-content>@AttendanceModel.AttributeNames.AttendanceCode</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="text" asp-for="AttendanceCode" disabled />
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttendanceModel.AttributeNames.WorkDate" class="col-form-label col-md-6" localize-content>@AttendanceModel.AttributeNames.WorkDate</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="date" asp-for="WorkDate" />
                            <div class="invalid-feedback" id="invalid-@AttendanceModel.AttributeNames.WorkDate" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttendanceModel.AttributeNames.InTime" class="col-form-label col-md-6" localize-content>@AttendanceModel.AttributeNames.InTime</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="time" asp-for="InTime" />
                            <div class="invalid-feedback" id="invalid-@AttendanceModel.AttributeNames.InTime" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttendanceModel.AttributeNames.OutTime" class="col-form-label col-md-6" localize-content>@AttendanceModel.AttributeNames.OutTime</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="time" asp-for="OutTime" />
                            <div class="invalid-feedback" id="invalid-@AttendanceModel.AttributeNames.OutTime" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttendanceModel.AttributeNames.WorkingHours" class="col-form-label col-md-6" localize-content>@AttendanceModel.AttributeNames.WorkingHours</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="number" asp-for="WorkingHours" />
                            <div class="invalid-feedback" id="invalid-@AttendanceModel.AttributeNames.WorkingHours" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttendanceModel.AttributeNames.OvertimeHours" class="col-form-label col-md-6" localize-content>@AttendanceModel.AttributeNames.OvertimeHours</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="number" asp-for="OvertimeHours" />
                            <div class="invalid-feedback" id="invalid-@AttendanceModel.AttributeNames.OvertimeHours" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttendanceModel.AttributeNames.Note" class="col-form-label col-md-6" localize-content>@AttendanceModel.AttributeNames.Note</label>
                        <div class="col-md-12">
                            <textarea class="form-control form-control-sm" rows="3" asp-for="Note"></textarea>
                            <div class="invalid-feedback" id="invalid-@AttendanceModel.AttributeNames.Note" localize-content></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" localize-content>Close</button>
                    <button type="button" class="btn btn-outline-primary save-button" id="only-save-button" localize-content>Save</button>
                    <button type="button" class="btn btn-primary save-button" data-bs-dismiss="modal" localize-content>Save&Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(".save-button").click(function () {
        const $form = $(this).closest("form");
        const formData = new FormData($form[0]);
        const formElement = $form[0];
        let id = formData.get("@Constants.Id");

        // Nếu không có ID (tạo mới), set Guid.Empty
        if (!id || id === "") {
            formData.set("@Constants.Id", "@Guid.Empty");
        }

        callApi("@Url.Action(Constants.CreateOrEdit, TableName.Attendance)", "POST", formData)
            .then(data => {
                loadAttendances();

                if (data && Array.isArray(data)) {
                    showInvalid(data, formElement);
                }
            })
            .catch(err => {
                showMessage("F:Có lỗi call api xảy ra!");
            });
    });
</script>
