@using NextERP.ModelBase
@using NextERP.Util
@model NextERP.ModelBase.SpaServiceCategoryModel

<div class="modal fade" id="create-edit-modal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form class="needs-validation" novalidate>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" localize-content>CreateOrEdit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="@AttributeNames.SpaServiceCategory.SpaServiceCategoryId" type="hidden" asp-for="Id" />

                    <div class="mb-2">
                        <label for="@AttributeNames.SpaServiceCategory.SpaServiceCategoryCode" class="col-form-label col-md-6" localize-content>@AttributeNames.SpaServiceCategory.SpaServiceCategoryCode</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" id="@AttributeNames.SpaServiceCategory.SpaServiceCategoryCode" type="text" asp-for="SpaServiceCategoryCode" disabled />
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttributeNames.SpaServiceCategory.SpaServiceCategoryName" class="col-form-label col-md-6" localize-content>@AttributeNames.SpaServiceCategory.SpaServiceCategoryName</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" id="@AttributeNames.SpaServiceCategory.SpaServiceCategoryName" type="text" asp-for="SpaServiceCategoryName" />
                            <div class="invalid-feedback" id="invalid-@AttributeNames.SpaServiceCategory.SpaServiceCategoryName" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttributeNames.SpaServiceCategory.Note" class="col-form-label col-md-6" localize-content>@AttributeNames.SpaServiceCategory.Note</label>
                        <div class="col-md-12">
                            <textarea class="form-control form-control-sm" id="@AttributeNames.SpaServiceCategory.Note" rows="3" asp-for="Note"></textarea>
                            <div class="invalid-feedback" id="invalid-@AttributeNames.SpaServiceCategory.Note" localize-content></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" localize-content>Close</button>
                    <button type="button" class="btn btn-outline-primary save-button" id="only-save-button" localize-content>Save</button>
                    <button type="button" class="btn btn-primary save-button" data-bs-dismiss="modal" localize-content>Save&Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(".save-button").click(function () {
        const $form = $(this).closest("form");
        const formData = new FormData($form[0]);
        const formElement = $form[0];
        // Set Id = Guid.Empty để không bị validation
        formData.set("@Constants.Id", "@Guid.Empty");

        fetch("@Url.Action(Constants.CreateOrEdit, TableName.SpaServiceCategory)", {
            method: "POST",
            body: formData
        }).then(response => {
            loadSpaServiceCategorys();
            return response.json();
        }).then(data => {
            if (data && Array.isArray(data)) {
                showInvalid(data);

                // Nếu form không hợp lệ, hiển thị thông báo lỗi
                formElement.classList.add("was-validated");
            }
        });
    });
</script>
