@using NextERP.ModelBase
@using NextERP.Util
@model NextERP.ModelBase.LeaveRequestModel

<div class="modal fade" id="create-edit-modal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form class="needs-validation" id="@TableName.LeaveRequest" novalidate>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" localize-content>CreateOrEdit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="@AttributeNames.LeaveRequest.LeaveRequestId" type="hidden" asp-for="Id" />
                    <input id="@AttributeNames.LeaveRequest.ApprovedByIds" type="hidden" asp-for="ApprovedByIds" />

                    <div class="mb-2">
                        <label for="@AttributeNames.LeaveRequest.LeaveRequestCode" class="col-form-label col-md-6" localize-content>@AttributeNames.LeaveRequest.LeaveRequestCode</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="text" asp-for="LeaveRequestCode" disabled />
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttributeNames.LeaveRequest.RequestDate" class="col-form-label col-md-6" localize-content>@AttributeNames.LeaveRequest.RequestDate</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="date" asp-for="RequestDate" />
                            <div class="invalid-feedback" id="invalid-@AttributeNames.LeaveRequest.RequestDate" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttributeNames.LeaveRequest.LeaveStartDate" class="col-form-label col-md-6" localize-content>@AttributeNames.LeaveRequest.LeaveStartDate</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="date" asp-for="LeaveStartDate" />
                            <div class="invalid-feedback" id="invalid-@AttributeNames.LeaveRequest.LeaveStartDate" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttributeNames.LeaveRequest.LeaveEndDate" class="col-form-label col-md-6" localize-content>@AttributeNames.LeaveRequest.LeaveEndDate</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="date" asp-for="LeaveEndDate" />
                            <div class="invalid-feedback" id="invalid-@AttributeNames.LeaveRequest.LeaveEndDate" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttributeNames.LeaveRequest.TotalLeaveDays" class="col-form-label col-md-6" localize-content>@AttributeNames.LeaveRequest.TotalLeaveDays</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="number" asp-for="TotalLeaveDays" />
                            <div class="invalid-feedback" id="invalid-@AttributeNames.LeaveRequest.TotalLeaveDays" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttributeNames.LeaveRequest.LeaveDayType" class="col-form-label col-md-6" localize-content>@AttributeNames.LeaveRequest.LeaveDayType</label>
                        <div class="col-md-12">
                            <select class="form-select form-select-sm" asp-for="LeaveDayType">
                                <option value=""></option>
                                @foreach (var item in Enum.GetValues(typeof(Enums.LeaveDayType)))
                                {
                                    <option value="@item" localize-content>@item</option>
                                }
                            </select>
                            <div class="invalid-feedback" id="invalid-@AttributeNames.LeaveRequest.LeaveDayType" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttributeNames.LeaveRequest.ApprovalStatus" class="col-form-label col-md-6" localize-content>@AttributeNames.LeaveRequest.ApprovalStatus</label>
                        <div class="col-md-12">
                            <select class="form-select form-select-sm" asp-for="ApprovalStatus">
                                <option value=""></option>
                                @foreach (var item in Enum.GetValues(typeof(Enums.ApprovalStatus)))
                                {
                                    <option value="@item" localize-content>@item</option>
                                }
                            </select>
                            <div class="invalid-feedback" id="invalid-@AttributeNames.LeaveRequest.ApprovalStatus" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttributeNames.LeaveRequest.ApprovalDate" class="col-form-label col-md-6" localize-content>@AttributeNames.LeaveRequest.ApprovalDate</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="date" asp-for="ApprovalDate" />
                            <div class="invalid-feedback" id="invalid-@AttributeNames.LeaveRequest.ApprovalDate" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttributeNames.LeaveRequest.Note" class="col-form-label col-md-6" localize-content>@AttributeNames.LeaveRequest.Note</label>
                        <div class="col-md-12">
                            <textarea class="form-control form-control-sm" rows="3" asp-for="Note"></textarea>
                            <div class="invalid-feedback" id="invalid-@AttributeNames.LeaveRequest.Note" localize-content></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" localize-content>Close</button>
                    <button type="button" class="btn btn-outline-primary save-button" id="only-save-button" localize-content>Save</button>
                    <button type="button" class="btn btn-primary save-button" data-bs-dismiss="modal" localize-content>Save&Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(".save-button").click(function () {
        const $form = $(this).closest("form");
        const formData = new FormData($form[0]);
        const formElement = $form[0];
        let id = formData.get("@Constants.Id");

        // Nếu không có ID (tạo mới), set Guid.Empty
        if (!id || id === "") {
            formData.set("@Constants.Id", "@Guid.Empty");
        }

        callApi("@Url.Action(Constants.CreateOrEdit, TableName.LeaveRequest)", "POST", formData)
            .then(data => {
                loadLeaveRequests();

                if (data && Array.isArray(data)) {
                    showInvalid(data, formElement);
                }
            })
            .catch(err => {
                showMessage("F:Có lỗi js xảy ra!");
            });
    });
</script>
