@using NextERP.ModelBase
@using NextERP.Util
@model NextERP.ModelBase.UserModel
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer Localizer

<div class="modal fade" id="create-edit-modal" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<form class="needs-validation" id="@TableName.User" novalidate>
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel" localize-content>CreateOrEdit</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input id="@UserModel.AttributeNames.UserId" type="hidden" asp-for="Id" />

					<div class="mb-2">
						<label for="@UserModel.AttributeNames.UserCode" class="col-form-label col-md-6" localize-content>@UserModel.AttributeNames.UserCode</label>
						<div class="col-md-12">
							<input class="form-control form-control-sm" type="text" asp-for="UserCode" disabled />
						</div>
					</div>

					<div class="mb-2">
						<label for="@UserModel.AttributeNames.LastLoginDate" class="col-form-label col-md-6" localize-content>@UserModel.AttributeNames.LastLoginDate</label>
						<div class="col-md-12">
							<input class="form-control form-control-sm" type="date" asp-for="LastLoginDate" disabled />
							<div class="invalid-feedback" id="invalid-@UserModel.AttributeNames.LastLoginDate" localize-content></div>
						</div>
					</div>

					<div class="mb-2">
						<label for="@UserModel.AttributeNames.Username" class="col-form-label col-md-6" localize-content>@UserModel.AttributeNames.Username</label>
						<div class="col-md-12">
							<input class="form-control form-control-sm" type="text" asp-for="Username" />
							<div class="invalid-feedback" id="invalid-@UserModel.AttributeNames.Username" localize-content></div>
						</div>
					</div>

					<div class="mb-2">
						<label for="@UserModel.AttributeNames.Password" class="col-form-label col-md-6" localize-content>@UserModel.AttributeNames.Password</label>
						<div class="col-md-12">
							<input class="form-control" type="password" asp-for="Password" required />
							<div class="invalid-feedback" localize-content>InvalidPassword</div>
						</div>
					</div>

					<div class="mb-2">
						<label for="@UserModel.AttributeNames.GroupRole" class="col-form-label col-md-6" localize-content>@UserModel.AttributeNames.GroupRole</label>
						<div class="col-md-12">
							<select class="form-select form-select-sm" asp-for="GroupRole">
								<option value=""></option>
								@foreach (var item in Enum.GetValues(typeof(Enums.GroupRole)))
								{
									<option value="@item" localize-content>@item</option>
								}
							</select>
							<div class="invalid-feedback" id="invalid-@UserModel.AttributeNames.GroupRole" localize-content></div>
						</div>
					</div>

					<div class="mb-2">
						<label for="@UserModel.AttributeNames.OperatingStatus" class="col-form-label col-md-6" localize-content>@UserModel.AttributeNames.OperatingStatus</label>
						<div class="col-md-12">
							<select class="form-select form-select-sm" asp-for="OperatingStatus">
								<option value=""></option>
								@foreach (var item in Enum.GetValues(typeof(Enums.OperatingStatus)))
								{
									<option value="@item" localize-content>@item</option>
								}
							</select>
							<div class="invalid-feedback" id="invalid-@UserModel.AttributeNames.OperatingStatus" localize-content></div>
						</div>
					</div>

					<div class="mb-2">
						<label for="@EmployeeModel.AttributeNames.EmployeeId" class="col-form-label col-md-6" localize-content>@TableName.Employee</label>
						<div class="col-md-12">
							<select class="form-select form-select-sm" asp-for="EmployeeId">
								<option value=""></option>
								@if (ViewBag.ListEmployee != null)
								{
									var listEmployee = ViewBag.ListEmployee as List<EmployeeModel> ?? new List<EmployeeModel>();

									foreach (var item in listEmployee)
									{
										<option value="@item.Id" localize-content>@item.FullName</option>
									}
								}
							</select>
							<div class="invalid-feedback" id="invalid-@EmployeeModel.AttributeNames.EmployeeId" localize-content></div>
						</div>
					</div>

					<div class="mb-3" id="@UserModel.AttributeNames.Roles"></div>

					<div class="mb-2">
						<label for="@UserModel.AttributeNames.Note" class="col-form-label col-md-6" localize-content>@UserModel.AttributeNames.Note</label>
						<div class="col-md-12">
							<textarea class="form-control form-control-sm" rows="3" asp-for="Note"></textarea>
							<div class="invalid-feedback" id="invalid-@UserModel.AttributeNames.Note" localize-content></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
						<i class="fa-solid fa-xmark"></i> <span localize-content>Close</span>
					</button>
					<button type="button" class="button-outline btn save-button" id="only-save-button">
						@{
							var saveIcon = @"<svg class=""icon"" fill=""none"" stroke=""currentColor"" viewBox=""0 0 24 24"" xmlns=""http://www.w3.org/2000/svg"" stroke-linecap=""round"" stroke-linejoin=""round"" stroke-width=""2.5""><path d=""M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z""></path><polyline points=""17 21 17 13 7 13 7 21""></polyline><polyline points=""7 3 7 8 15 8""></polyline></svg>";
						}

						@await Component.InvokeAsync(Constants.Button, new { nameButton = Constants.Save, iconHtml = saveIcon })
					</button>
					<button type="button" class="button btn save-button" data-bs-dismiss="modal">
						@{
							var saveAndCloseIcon = @"<svg class=""icon"" fill=""none"" stroke=""currentColor"" viewBox=""0 0 24 24"" xmlns=""http://www.w3.org/2000/svg"" stroke-linecap=""round"" stroke-linejoin=""round"" stroke-width=""2.5""><path d=""M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z""></path><polyline points=""17 21 17 13 7 13 7 21""></polyline><polyline points=""7 3 7 8 15 8""></polyline></svg>";
						}

						@await Component.InvokeAsync(Constants.Button, new { nameButton = Constants.SaveAndClose, iconHtml = saveAndCloseIcon })
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(".save-button").click(function () {
		const $form = $(this).closest("form");
		const formData = new FormData($form[0]);
		const formElement = $form[0];
		let id = formData.get("@Constants.Id");

		// Nếu không có ID (tạo mới), set Guid.Empty
		if (!id || id === "") {
			formData.set("@Constants.Id", "@Guid.Empty");
		}

		callApi("@Url.Action(Constants.CreateOrEdit, TableName.User)", "POST", formData)
			.then(data => {
				loadUsers();

				if (data && Array.isArray(data)) {
					showInvalid(data, formElement);
				}
			})
			.catch(err => {
				showMessage("@Localizer[Messages.ErrorCallAPI]");
			});
	});
</script>
