@using NextERP.ModelBase
@using NextERP.Util
@model NextERP.ModelBase.SalaryModel

@{
    ViewData["Title"] = TableName.Salary;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Breadcrumbs = new List<(string Title, string Url, bool IsActive)>
{
        (TableName.Salary + "List", "", true),
    };
}

<div class="main-container">
    <div id="success-msg" class="position-fixed top-0 end-0 p-3 m-2 d-none" role="alert" aria-live="assertive" aria-atomic="true"></div>
    <input type="hidden" id="current-page-index" value="1" />

    <!--& FILTER -->
    <section class="filter-panel card">
        <form method="post">
            <div class="filter-actions">
                <button type="button" class="btn btn-success create-edit-button" id="create-button" data-bs-toggle="modal" data-bs-target="#create-edit-modal" localize-content>
                    Create
                </button>
                <button type="button" class="btn btn-warning create-edit-button disabled" id="edit-button" data-bs-toggle="modal" data-bs-target="#create-edit-modal" localize-content>
                    Edit
                </button>
                <input type="text" name="Ids" id="Ids" hidden />
                <button type="button" class="btn btn-danger disabled" id="delete-button" localize-content>
                    Delete
                </button>
                <button type="button" class="btn btn-danger disabled" id="delete-permanently-button" localize-content>
                    DeletePermanently
                </button>
                <button type="button" class="btn btn-secondary" id="import-button" data-bs-toggle="modal" data-bs-target="#import-modal" localize-content>
                    Import
                </button>
                <button type="button" class="btn btn-secondary" id="export-button" data-bs-toggle="modal" data-bs-target="#export-modal" localize-content>
                    Export
                </button>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#filter-inputs" aria-expanded="true" aria-controls="filter-inputs">
                    <i class="fa-solid fa-filter"></i>
                </button>
                <a href="#" id="refresh-list"><i class="fa-solid fa-rotate"></i></a>
                <div class="d-flex align-items-center ms-2 pb-2">
                    <input class="form-check-input" type="checkbox" value="" id="is-delete">
                    <label class="form-check-label fs-5" for="is-delete" localize-content>IsDelete</label>
                </div>
            </div>
        </form>

        <div class="collapse" id="filter-inputs">
            <form id="salary-search-form" class="m-2">
                <div class="row g-2 mb-2">
                    <div class="col-3">
                        <label for="@AttributeNames.Salary.SalaryCode" class="col-form-label col-md-6" localize-content>@AttributeNames.Salary.SalaryCode</label>
                        <input type="text" class="form-control form-control-sm" asp-for="SalaryCode" />
                    </div>

                    <div class="col-3">
                        <label for="@AttributeNames.Salary.SalaryMonth" class="col-form-label col-md-6" localize-content>@AttributeNames.Salary.SalaryMonth</label>
                        <input type="month" class="form-control form-control-sm" asp-for="SalaryMonth" />
                    </div>

                    <div class="col-3">
                        <label for="@Constants.DateCreate" class="col-form-label col-md-6" localize-content>@Constants.DateCreate</label>
                        <input type="date" class="form-control form-control-sm" asp-for="DateCreate" />
                    </div>

                    <div class="col-3">
                        <label for="@Constants.DateUpdate" class="col-form-label col-md-6" localize-content>@Constants.DateUpdate</label>
                        <input type="date" class="form-control form-control-sm" asp-for="DateUpdate" />
                    </div>
                </div>

                <div class="text-end">
                    <button type="button" class="btn btn-info" id="search-button" localize-content>Search</button>
                    <button type="button" class="btn btn-secondary" id="clear-button" localize-content>Clear</button>
                </div>
            </form>
        </div>
    </section>

    <!--& TABLE -->
    <section class="table-wrapper card">
        <div class="table-wrapper-body row">
            <div class="table-wrapper-main" id="@TableName.Salary-table">
            </div>
        </div>
    </section>

    <!--& MODAL -->
    <section class="modal-wrapper">
        @await Html.PartialAsync(ScreenName.Salary.SalaryForm, Model)
        @await Component.InvokeAsync(Constants.Import, TableName.Salary)
        @await Component.InvokeAsync(Constants.Export, TableName.Salary)
    </section>
</div>

<script>
    let $salaryId;

    $(function () {
        loadSalarys();
    });

    $("#refresh-list").click(function(){
        loadSalarys();
    });

    $("#is-delete").change(function () {
        loadSalarys();
    })

    $(document).on("change", ".@TableName.Salary-checkbox", function () {
        // Gán giá trị cho biến Id để sử dụng với các hành động (sửa, xóa, v.v.)
        $salaryId = $(this).is(":checked") ? $(this).closest("tr").find('input[name="@AttributeNames.Salary.SalaryId"]').val() : "";

        // Kiểm tra số lượng checkbox đã chọn và cập nhật trạng thái của các nút
        const $length = $(".@TableName.Salary-checkbox:checked").length;
        checkLengthCheckbox($length, true, true, true, true, "@TableName.Salary-checkbox");
    });

    $(".create-edit-button").click(function () {
        $("#only-save-button").css("display",  $salaryId ? "none" : "block");

        callApi("@Url.Action(Constants.CreateOrEdit, TableName.Salary)/" + $branchId, "GET")
            .then(data => {
                // Khi trả ra json các field sẽ bị viết thường chữ cái đâu
                $("#@AttributeNames.Salary.SalaryId").val(data.id);
                $("#@AttributeNames.Salary.SalaryCode").val(data.salaryCode);
                $("#@AttributeNames.Salary.SalaryMonth").val(formatMonthToInput(data.salaryMonth));
                $("#@AttributeNames.Salary.GrossSalary").val(data.grossSalary);
                $("#@AttributeNames.Salary.Bonus").val(data.bonus);
                $("#@AttributeNames.Salary.TaxAmount").val(data.taxAmount);
                $("#@AttributeNames.Salary.InsuranceContribution").val(data.insuranceContribution);
                $("#@AttributeNames.Salary.AdvanceSalary").val(data.advanceSalary);
                $("#@AttributeNames.Salary.Deductions").val(data.deductions);
                $("#@AttributeNames.Salary.NetSalary").val(data.netSalary);
                $("#@AttributeNames.Salary.Note").val(data.note);
            })
            .catch(err => {
                showMessage({ success: false, message: "F:Có lỗi xảy ra!" });
            });
    });

    $("#delete-button").click(function () {
        // Lấy tất cả các Id của các checkbox đã chọn
        const $ids = $(".@TableName.Salary-checkbox:checked").map(function () {
            return $(this).closest("tr").find('input[name="@AttributeNames.Salary.SalaryId"]').val();
        }).get().join(",");

        $("#Ids").val($ids);

        const $form = $(this).closest("form");
        const formData = new FormData($form[0]);

        callApi("@Url.Action(Constants.Delete, TableName.Salary)", "POST", formData)
            .then(data => {
                loadSalarys();
            })
            .catch(err => {
                showMessage({ success: false, message: "F:Có lỗi xảy ra!" });
            });
    });

    $("#delete-permanently-button").click(function () {
        // Lấy tất cả các Id của các checkbox đã chọn
        const $ids = $(".@TableName.Salary-checkbox:checked").map(function () {
            return $(this).closest("tr").find('input[name="@AttributeNames.Salary.SalaryId"]').val();
        }).get().join(",");

        $("#Ids").val($ids);

        const $form = $(this).closest("form");
        const formData = new FormData($form[0]);

        callApi("@Url.Action(Constants.DeletePermanently, TableName.Salary)", "POST", formData)
            .then(data => {
                loadSalarys();
            })
            .catch(err => {
                showMessage({ success: false, message: "F:Có lỗi xảy ra!" });
            });
    });

    $("#search-button").click(function () {
        loadSalarys();
    })

    $("#clear-button").click(function () {
        $("#@AttributeNames.Salary.SalaryCode").val("");

        loadSalarys();
    })

    function loadSalarys(el, pageIndex) {
        // Khỏi tạo filter và gán giá trị
        const $isDelete = $("#is-delete").is(":checked");
        $(".loader").css("display", "flex");

        const $form = $(el).closest("form");
        const formData = new FormData($form[0]);

        // Xóa các key không cần thiết (__Invariant)
        const cleanEntries = Array.from(formData.entries()).filter(([key]) => key !== "__Invariant");

        const filter = new FormData();
        cleanEntries.forEach(([key, value]) => filter.append(key, value));
        filter.append("@Constants.PageIndex", pageIndex);
        filter.append("@Constants.IsDelete", $isDelete);

        callApi("@Url.Action(Constants.GetList, TableName.Salary)", "POST", filter, "#@TableName.Salary-table")
            .then(data => {
                // Kiểm tra số lượng checkbox đã chọn và cập nhật trạng thái của các nút
                checkLengthCheckbox(0, true, true, true, true, "@TableName.Salary-checkbox");

                // Load lại table thì gán lại "" để khi bám nút thêm không lỗi
                $salaryId = "";
            })
            .catch(err => {
                showMessage({ success: false, message: "F:Có lỗi xảy ra!" });
            });
    }
</script>