@{
    var culture = CultureInfo.CurrentCulture.Name;

    //Model Employee
    string ctrModuleEmployee = $"{TableName.Employee},{TableName.Salary},{TableName.Attendance}," +
        $"{TableName.LeaveRequest},{TableName.Schedule},{TableName.Position},{TableName.TrainingSession}";
    string actModuleEmployee = $"{ScreenName.Employee.EmployeeIndex},{ScreenName.Salary.SalaryIndex}," +
        $"{ScreenName.Attendance.AttendanceIndex},{ScreenName.LeaveRequest.LeaveRequestIndex},{ScreenName.Schedule.ScheduleIndex},{ScreenName.Position.PositionIndex},{ScreenName.TrainingSession.TrainingSessionIndex}";
    //Model Organization
    string ctrModuleOrganization = $"{TableName.Branch},{TableName.Department}";
    string actModuleOrganization = $"{ScreenName.Branch.BranchIndex},{ScreenName.Department.DepartmentIndex}";
    //Model Service
    string ctrModuleService = $"{TableName.SpaService},{TableName.SpaServiceCategory}";
    string actModuleService = $"{ScreenName.SpaService.SpaServiceIndex},{ScreenName.SpaServiceCategory.SpaServiceCategoryIndex}";
    //Model Customer
    string ctrModuleCustomer = $"{TableName.Customer},{TableName.Feedback},{TableName.Appointment}";
    string actModuleCustomer = $"{ScreenName.Customer.CustomerIndex},{ScreenName.Feedback.FeedbackIndex}," +
        $"{ScreenName.Appointment.AppointmentIndex}";
    //Model Payment
    string ctrModulePayment = $"{TableName.Invoice},{TableName.InvoiceDetail}";
    string actModulePayment = $"{ScreenName.Invoice.InvoiceIndex},{ScreenName.InvoiceDetail.InvoiceDetailIndex}";
    //Model Merchandise
    string ctrModuleMerchandise = $"{TableName.Product},{TableName.ProductCategory},{TableName.SupplierOrder}," +
        $"{TableName.Supplier}";
    string actModuleMerchandise = $"{ScreenName.Product.ProductIndex},{ScreenName.ProductCategory.ProductCategoryIndex}," +
        $"{ScreenName.SupplierOrder.SupplierOrderIndex},{ScreenName.Supplier.SupplierIndex}";
    //Model System
    string ctrModuleSystem = $"{TableName.Role},{TableName.User},{TableName.HistoryNotification},{TableName.HistoryMail}," +
        $"{TableName.TemplateMail},{TableName.TemplateNotification}";
    string actModuleSystem = $"{ScreenName.Role.RoleIndex},{ScreenName.User.UserIndex},{ScreenName.HistoryNotification.HistoryNotificationIndex}," +
        $"{ScreenName.HistoryMail.HistoryMailIndex},{ScreenName.TemplateMail.TemplateMailIndex},{ScreenName.TemplateNotification.TemplateNotificationIndex}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NextERP | @Localizer[ViewBag.Title]</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />

    <link rel="stylesheet" href="~/lib/fontawesome-free-6.7.2-web/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/css/apexcharts/apexcharts.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />

    <script src="~/lib/js/jquery/jquery.min.js"></script>
</head>

<body>
    <aside class="offcanvas-lg offcanvas-start sidebar" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="sidebar-header">
            <span> <img src="~/images/logo.png" class="me-2" alt="" width="35" height="35" /></span>
            <h1><a asp-action="@ScreenName.DashboardIndex" asp-controller="Dashboard" asp-route-culture="@culture">NextERP</a></h1>
        </div>
        <div class="sidebar-body">
            <nav>
                <ul class="nav flex-column sidebar-menu">
                    <li class="nav-item @Html.IsActive("Dashboard", @ScreenName.DashboardIndex, "active")">
                        <a class="nav-link" asp-action="@ScreenName.DashboardIndex" asp-controller="Dashboard" asp-route-culture="@culture">
                            <i class="fa-solid fa-house"></i><span localize-content>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item @Html.IsActive(ctrModuleEmployee, actModuleEmployee, "active")">
                        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-employee" role="button" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                            <span localize-content>Employee</span>
                            <i class="fa-solid @Html.IsActive(ctrModuleEmployee, actModuleEmployee, "fa-minus", "fa-plus") ms-auto"> </i>
                        </a>

                        <div class="collapse submenu @Html.IsActive(ctrModuleEmployee, actModuleEmployee, "show")" id="submenu-employee" data-bs-parent=".sidebar-menu">
                            <ul class="nav flex-column">
                                <li class="nav-item @Html.IsActive(TableName.Employee, ScreenName.Employee.EmployeeIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Employee.EmployeeIndex" asp-controller="@TableName.Employee" asp-route-culture="@culture">
                                        <i class="fa-solid fa-user"></i><span localize-content>Employee</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.Salary, ScreenName.Salary.SalaryIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Salary.SalaryIndex" asp-controller="@TableName.Salary" asp-route-culture="@culture">
                                        <i class="fa-solid fa-hand-holding-dollar"></i><span localize-content>Salary</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.Attendance, ScreenName.Attendance.AttendanceIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Attendance.AttendanceIndex" asp-controller="@TableName.Attendance" asp-route-culture="@culture">
                                        <i class="fa-solid fa-user-tag"></i><span localize-content>Attendance</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.LeaveRequest, ScreenName.LeaveRequest.LeaveRequestIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.LeaveRequest.LeaveRequestIndex" asp-controller="@TableName.LeaveRequest" asp-route-culture="@culture">
                                        <i class="fa-solid fa-calendar-xmark"></i><span localize-content>LeaveRequest</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.Schedule, ScreenName.Schedule.ScheduleIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Schedule.ScheduleIndex" asp-controller="@TableName.Schedule" asp-route-culture="@culture">
                                        <i class="fa-solid fa-calendar-days"></i><span localize-content>Schedule</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.Position, ScreenName.Position.PositionIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Position.PositionIndex" asp-controller="@TableName.Position" asp-route-culture="@culture">
                                        <i class="fa-solid fa-user-tie"></i><span localize-content>Position</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.TrainingSession, ScreenName.TrainingSession.TrainingSessionIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.TrainingSession.TrainingSessionIndex" asp-controller="@TableName.TrainingSession" asp-route-culture="@culture">
                                        <i class="fa-solid fa-user-graduate"></i><span localize-content>TrainingSession</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item @Html.IsActive(ctrModuleOrganization, actModuleOrganization, "active")">
                        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-organize" role="button" aria-expanded="false">
                            <i class="fa-solid fa-building-ngo"></i>
                            <span localize-content>Organization</span>
                            <i class="fa-solid @Html.IsActive(ctrModuleOrganization, actModuleOrganization, "fa-minus", "fa-plus") ms-auto"></i>
                        </a>

                        <div class="collapse submenu @Html.IsActive(ctrModuleOrganization, actModuleOrganization, "show")" id="submenu-organize" data-bs-parent=".sidebar-menu">
                            <ul class="nav flex-column">
                                <li class="nav-item @Html.IsActive(TableName.Branch, ScreenName.Branch.BranchIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Branch.BranchIndex" asp-controller="@TableName.Branch" asp-route-culture="@culture">
                                        <i class="fa-solid fa-building"></i><span localize-content>Branch</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.Department, ScreenName.Department.DepartmentIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Department.DepartmentIndex" asp-controller="@TableName.Department" asp-route-culture="@culture">
                                        <i class="fa-solid fa-building-user"></i><span localize-content>Department</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item @Html.IsActive(ctrModuleService, actModuleService, "active")">
                        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-service" role="button" aria-expanded="false">
                            <i class="fa-solid fa-hand-sparkles">
                            </i><span localize-content>SpaService</span>
                            <i class="fa-solid @Html.IsActive(ctrModuleService, actModuleService, "fa-minus", "fa-plus") ms-auto"></i>
                        </a>

                        <div class="collapse submenu @Html.IsActive(ctrModuleService, actModuleService, "show")" id="submenu-service" data-bs-parent=".sidebar-menu">
                            <ul class="nav flex-column">
                                <li class="nav-item @Html.IsActive(TableName.SpaService, ScreenName.SpaService.SpaServiceIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.SpaService.SpaServiceIndex" asp-controller="@TableName.SpaService" asp-route-culture="@culture">
                                        <i class="fa-solid fa-hand-sparkles"></i><span localize-content>SpaService</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.SpaServiceCategory, ScreenName.SpaServiceCategory.SpaServiceCategoryIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.SpaServiceCategory.SpaServiceCategoryIndex" asp-controller="@TableName.SpaServiceCategory" asp-route-culture="@culture">
                                        <i class="fa-solid fa-table-list"></i><span localize-content>SpaServiceCategory</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item @Html.IsActive(ctrModuleCustomer, actModuleCustomer, "active")">
                        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-customer" role="button" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                            <span localize-content>Customer</span>
                            <i class="fa-solid @Html.IsActive(ctrModuleCustomer, actModuleCustomer, "fa-minus", "fa-plus") ms-auto"></i>
                        </a>

                        <div class="collapse submenu @Html.IsActive(ctrModuleCustomer, actModuleCustomer, "show")" id="submenu-customer" data-bs-parent=".sidebar-menu">
                            <ul class="nav flex-column">
                                <li class="nav-item @Html.IsActive(TableName.Customer, ScreenName.Customer.CustomerIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Customer.CustomerIndex" asp-controller="@TableName.Customer" asp-route-culture="@culture">
                                        <i class="fa-solid fa-user"></i><span localize-content>Customer</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.Feedback, ScreenName.Feedback.FeedbackIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Feedback.FeedbackIndex" asp-controller="@TableName.Feedback" asp-route-culture="@culture">
                                        <i class="fa-solid fa-comment"></i><span localize-content>Feedback</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.Appointment, ScreenName.Appointment.AppointmentIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Appointment.AppointmentIndex" asp-controller="@TableName.Appointment" asp-route-culture="@culture">
                                        <i class="fa-solid fa-user-clock"></i><span localize-content>Appointment</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item @Html.IsActive(ctrModulePayment, actModulePayment, "active")">
                        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-payment" role="button" aria-expanded="false">
                            <i class="fa-solid fa-cash-register"></i>
                            <span localize-content>Payment</span>
                            <i class="fa-solid @Html.IsActive(ctrModulePayment, actModulePayment, "fa-minus", "fa-plus") ms-auto"></i>
                        </a>

                        <div class="collapse submenu @Html.IsActive(ctrModulePayment, actModulePayment, " show")" id="submenu-payment" data-bs-parent=".sidebar-menu">
                            <ul class="nav flex-column">
                                <li class="nav-item @Html.IsActive(TableName.Invoice, ScreenName.Invoice.InvoiceIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Invoice.InvoiceIndex" asp-controller="@TableName.Invoice" asp-route-culture="@culture">
                                        <i class="fa-solid fa-file-invoice-dollar"></i><span localize-content>Invoice</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.InvoiceDetail, ScreenName.InvoiceDetail.InvoiceDetailIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.InvoiceDetail.InvoiceDetailIndex" asp-controller="@TableName.InvoiceDetail" asp-route-culture="@culture">
                                        <i class="fa-solid fa-file-invoice-dollar"></i><span localize-content>InvoiceDetail</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item @Html.IsActive(ctrModuleMerchandise, actModuleMerchandise, "active")">
                        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-commodity" role="button" aria-expanded="false">
                            <i class="fa-solid fa-boxes-stacked"></i>
                            <span localize-content>Merchandise</span>
                            <i class="fa-solid @Html.IsActive(ctrModuleMerchandise, actModuleMerchandise, "fa-minus", "fa-plus") ms-auto"></i>
                        </a>

                        <div class="collapse submenu @Html.IsActive(ctrModuleMerchandise, actModuleMerchandise, "show")" id="submenu-commodity" data-bs-parent=".sidebar-menu">
                            <ul class="nav flex-column">
                                <li class="nav-item @Html.IsActive(TableName.Product, ScreenName.Product.ProductIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Product.ProductIndex" asp-controller="@TableName.Product" asp-route-culture="@culture">
                                        <i class="fa-solid fa-spray-can-sparkles"></i><span localize-content>Product</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.ProductCategory, ScreenName.ProductCategory.ProductCategoryIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.ProductCategory.ProductCategoryIndex" asp-controller="@TableName.ProductCategory" asp-route-culture="@culture">
                                        <i class="fa-solid fa-table-list"></i><span localize-content>ProductCategory</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.SupplierOrder, ScreenName.SupplierOrder.SupplierOrderIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.SupplierOrder.SupplierOrderIndex" asp-controller="@TableName.SupplierOrder" asp-route-culture="@culture">
                                        <i class="fa-solid fa-file-invoice-dollar"></i><span localize-content>SupplierOrder</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.Supplier, ScreenName.Supplier.SupplierIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Supplier.SupplierIndex" asp-controller="@TableName.Supplier" asp-route-culture="@culture">
                                        <i class="fa-solid fa-parachute-box"></i><span localize-content>Supplier</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item @Html.IsActive(TableName.Promotion, ScreenName.Promotion.PromotionIndex, "active")">
                        <a class="nav-link" asp-action="PromotionIndex" asp-controller="@TableName.Promotion" asp-route-culture="@culture">
                            <i class="fa-solid fa-tag"></i><span localize-content>Promotion</span>
                        </a>
                    </li>
                    <li class="nav-item @Html.IsActive(ctrModuleSystem, actModuleSystem, "active")">
                        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-system" role="button" aria-expanded="false">
                            <i class="fa-solid fa-user-shield"></i>
                            <span localize-content>System</span>
                            <i class="fa-solid @Html.IsActive(ctrModuleSystem, actModuleMerchandise, "fa-minus", "fa-plus") ms-auto"></i>
                        </a>

                        <div class="collapse submenu @Html.IsActive(ctrModuleSystem, actModuleSystem, "show")" id="submenu-system" data-bs-parent=".sidebar-menu">
                            <ul class="nav flex-column">
                                <li class="nav-item @Html.IsActive(TableName.Role, ScreenName.Role.RoleIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.Role.RoleIndex" asp-controller="@TableName.Role" asp-route-culture="@culture">
                                        <i class="fa-solid fa-user-tag"></i><span localize-content>Role</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.User, ScreenName.User.UserIndex, "active")">
                                    <a class="nav-link" asp-action="@ScreenName.User.UserIndex" asp-controller="@TableName.User" asp-route-culture="@culture">
                                        <i class="fa-solid fa-user"></i><span localize-content>User</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.HistoryNotification, ScreenName.HistoryNotification.HistoryNotificationIndex, " active")">
                                    <a class="nav-link" asp-action="@ScreenName.HistoryNotification.HistoryNotificationIndex" asp-controller="@TableName.HistoryNotification" asp-route-culture="@culture">
                                        <i class="fa-solid fa-paper-plane"></i><span localize-content>HistoryNotification</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.TemplateNotification, ScreenName.TemplateNotification.TemplateNotificationIndex, " active")">
                                    <a class="nav-link" asp-action="@ScreenName.TemplateNotification.TemplateNotificationIndex" asp-controller="@TableName.TemplateNotification" asp-route-culture="@culture">
                                        <i class="fa-solid fa-paper-plane"></i><span localize-content>TemplateNotification</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.HistoryMail, ScreenName.HistoryMail.HistoryMailIndex, " active")">
                                    <a class="nav-link" asp-action="@ScreenName.HistoryMail.HistoryMailIndex" asp-controller="@TableName.HistoryMail" asp-route-culture="@culture">
                                        <i class="fa-solid fa-envelope"></i><span localize-content>HistoryMail</span>
                                    </a>
                                </li>
                                <li class="nav-item @Html.IsActive(TableName.TemplateMail, ScreenName.TemplateMail.TemplateMailIndex, " active")">
                                    <a class="nav-link" asp-action="@ScreenName.TemplateMail.TemplateMailIndex" asp-controller="@TableName.TemplateMail" asp-route-culture="@culture">
                                        <i class="fa-solid fa-envelope"></i><span localize-content>TemplateMail</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <header class="header">
        <div class="header-left">
            <div class="app-bar">
                <a href="#" class="d-lg-none btn-icon" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <span class="ms-1 fw-bold"><a asp-action="@ScreenName.DashboardIndex" asp-controller="Dashboard">NextERP</a></span>
            </div>

            <div>
                <h2 localize-content>@ViewBag.Title</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @if (ViewBag.Breadcrumbs != null)
                        {
                            foreach (var item in ViewBag.Breadcrumbs)
                            {
                                string title = item.Item1;
                                string url = item.Item2;
                                bool isActive = item.Item3;

                                if (isActive)
                                {
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <span class="d-inline-block text-truncate" style="max-width: 150px" title="@(Localizer[title])" localize-content>@title</span>
                                    </li>
                                }
                                else
                                {
                                    <li class="breadcrumb-item">
                                        <a href="@url">
                                            <span class="d-inline-block text-truncate" style="max-width: 150px" title="@(Localizer[title])" localize-content>@title</span>
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ol>
                </nav>
            </div>
        </div>

        <div class="header-search">
            <form class="search-form">
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm shadow-none" list="datalistOptions" placeholder="@Localizer["Search"]..." />
                    <datalist id="datalistOptions">
                        <option value="San Francisco"></option>
                        <option value="New York"></option>
                        <option value="Seattle"></option>
                        <option value="Los Angeles"></option>
                        <option value="Chicago"></option>
                    </datalist>
                    <span class="input-group-text bg-transparent border-0 cursor-pointer"><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
            </form>
        </div>

        <div class="header-right">
            <img class="rounded" src="~/images/merry-christmas.gif" width="45" height="45" alt="" />

            <a href="#" id="darkModeToggle" class="btn-icon"><i class="fa-solid fa-moon dark-mode-icon"></i></a>

            <div class="dropdown">
                <a class="btn-icon" href="#" data-bs-toggle="dropdown"><i class="fa-solid fa-language translate-icon"></i></a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/vi/Dashboard/SetCultureCookie?cltr=vi&returnUrl=/vi" localize-content>Vietnamese</a></li>
                    <li><a class="dropdown-item" href="/en/Dashboard/SetCultureCookie?cltr=en&returnUrl=/en" localize-content>English</a></li>
                </ul>
            </div>

            <div class="dropdown notification">
                <a class="btn-icon" href="#" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-bell notification-icon"></i>
                </a>
                <span class="badge bg-danger rounded-pill">23</span>

                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="notification-item notification-info">
                                <div class="notification-item-icon"></div>
                                <div class="notification-item-content">
                                    <div class="notification-text">bạn nhận được 1 thông báo thông tin</div>
                                    <div class="notification-time">1 giờ trước</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="notification-item notification-warning">
                                <div class="notification-item-icon"></div>
                                <div class="notification-item-content">
                                    <div class="notification-text">bạn nhận được 1 thông báo cảnh báo</div>
                                    <div class="notification-time">1 giờ trước</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="notification-item notification-danger">
                                <div class="notification-item-icon"></div>
                                <div class="notification-item-content">
                                    <div class="notification-text">bạn nhận được 1 thông báo nguy hiểm</div>
                                    <div class="notification-time">1 giờ trước</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="notification-item notification-primary">
                                <div class="notification-item-icon"></div>
                                <div class="notification-item-content">
                                    <div class="notification-text">bạn nhận được 1 thông báo chính</div>
                                    <div class="notification-time">1 giờ trước</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="notification-item notification-secondary">
                                <div class="notification-item-icon"></div>
                                <div class="notification-item-content">
                                    <div class="notification-text">bạn nhận được 1 thông báo phụ cấp 1</div>
                                    <div class="notification-time">1 giờ trước</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="notification-item notification-success">
                                <div class="notification-item-icon"></div>
                                <div class="notification-item-content">
                                    <div class="notification-text">bạn nhận được 1 thông báo hoàn thành</div>
                                    <div class="notification-time">1 giờ trước</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="notification-item notification-purple">
                                <div class="notification-item-icon"></div>
                                <div class="notification-item-content">
                                    <div class="notification-text">bạn nhận được 1 thông báo tím</div>
                                    <div class="notification-time">1 giờ trước</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <a href="#" class="btn-icon"><i class="fa-solid fa-gear setting-icon"></i></a>

            <div class="dropdown">
                <a href="#" class="d-flex align-items-center dropdown-toggle profile" data-bs-toggle="dropdown">
                    <img src="~/images/avatar.jpg" alt="" class="rounded-circle me-1" width="35" height="35" />
                    <span class="role" localize-content>Admin</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#" localize-content>Profile</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-route-culture="@culture" localize-content>Logout</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="main-content">
        <div class="loader">
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" class="star star1" viewBox="0 0 256 256">
                <path d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" class="star star2" viewBox="0 0 256 256">
                <path d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" class="star star3" viewBox="0 0 256 256">
                <path d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"></path>
            </svg>
        </div>

        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>

    <script src="~/lib/js/bootstrap/popper.min.js"></script>
    <script src="~/lib/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/lib/js/jquery/jquery.min.js"></script>
    <script src="~/lib/js/moment/moment.min.js"></script>
    <script src="~/lib/js/fullcalendar/index.global.js"></script>
    <script src="~/lib/js/tippy/tippy-bundle.umd.min.js"></script>
    <script src="~/lib/js/apexcharts/apexcharts.min.js"></script>
    <script src="~/lib/js/apextree/apextree.min.js"></script>
    <script src="~/lib/js/sortable/sortable.min.js"></script>
    <script src="~/lib/js/signature/signature_pad.umd.min.js"></script>
    <script src="~/lib/js/ckeditor/ckeditor.js"></script>
    <script src="~/js/helper.js"></script>
    <script src="~/js/layout.js"></script>
    <script src="~/js/chart.js"></script>
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts");
</body>
</html>
