@using NextERP.ModelBase
@using NextERP.Util
@model NextERP.ModelBase.ProductCategoryModel

@{
    ViewData["Title"] = TableName.ProductCategory;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Breadcrumbs = new List<(string Title, string Url, bool IsActive)>
{
        (TableName.ProductCategory + "List", "", true),
    };
}

<div class="main-container">
    <div id="success-msg" class="position-fixed top-0 end-0 p-3 m-2 d-none" role="alert" aria-live="assertive" aria-atomic="true"></div>
    <input type="hidden" id="current-page-index" value="1" />

    <!--& FILTER -->
    <section class="filter-panel card">
        <form method="post">
            <div class="filter-actions">
                <button type="button" class="btn btn-success create-edit-button" id="create-button" data-bs-toggle="modal" data-bs-target="#create-edit-modal" localize-content>
                    Create
                </button>
                <button type="button" class="btn btn-warning create-edit-button disabled" id="edit-button" data-bs-toggle="modal" data-bs-target="#create-edit-modal" localize-content>
                    Edit
                </button>
                <input type="text" name="Ids" id="Ids" hidden />
                <button type="button" class="btn btn-danger disabled" id="delete-button" localize-content>
                    Delete
                </button>
                <button type="button" class="btn btn-danger disabled" id="delete-permanently-button" localize-content>
                    DeletePermanently
                </button>
                <button type="button" class="btn btn-secondary" id="import-button" data-bs-toggle="modal" data-bs-target="#import-modal" localize-content>
                    Import
                </button>
                <button type="button" class="btn btn-secondary" id="export-button" data-bs-toggle="modal" data-bs-target="#export-modal" localize-content>
                    Export
                </button>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#filter-inputs" aria-expanded="true" aria-controls="filter-inputs">
                    <i class="fa-solid fa-filter"></i>
                </button>
                <a href="#" id="refresh-list"><i class="fa-solid fa-rotate"></i></a>
                <div class="d-flex align-items-center ms-2 pb-2">
                    <input class="form-check-input" type="checkbox" value="" id="is-delete">
                    <label class="form-check-label fs-5" for="is-delete" localize-content>IsDelete</label>
                </div>
            </div>
        </form>

        <div class="collapse" id="filter-inputs">
            <form class="m-2">
                <div class="row g-2 mb-2">
                    <div class="col-3">
                        <label for="@AttributeNames.ProductCategory.ProductCategoryCode" class="col-form-label col-md-6" localize-content>@AttributeNames.ProductCategory.ProductCategoryCode</label>
                        <input type="text" class="form-control form-control-sm" asp-for="ProductCategoryCode" />
                    </div>

                    <div class="col-3">
                        <label for="@Constants.DateCreate" class="col-form-label col-md-6" localize-content>@Constants.DateCreate</label>
                        <input type="datetime-local" class="form-control form-control-sm" asp-for="DateCreate" />
                    </div>

                    <div class="col-3">
                        <label for="@Constants.DateUpdate" class="col-form-label col-md-6" localize-content>@Constants.DateUpdate</label>
                        <input type="datetime-local" class="form-control form-control-sm" asp-for="DateUpdate" />
                    </div>
                </div>

                <div class="text-end">
                    <button type="button" class="btn btn-info" id="search-button" localize-content>Search</button>
                    <button type="button" class="btn btn-secondary" id="clear-button" localize-content>Clear</button>
                </div>
            </form>
        </div>
    </section>

    <!--& TABLE -->
    <section class="table-wrapper card">
        <div class="table-wrapper-body row">
            <div class="table-wrapper-main" id="@TableName.ProductCategory-table">
            </div>
        </div>
    </section>

    <!--& MODAL -->
    <section class="modal-wrapper">
        @await Html.PartialAsync(ScreenName.ProductCategory.ProductCategoryForm, Model)
        @await Component.InvokeAsync(Constants.Import, TableName.ProductCategory)
        @await Component.InvokeAsync(Constants.Export, TableName.ProductCategory)
    </section>
</div>

<script>
    let $productCategoryId;

    $(function () {
        loadProductCategorys();
    });

    $("#refresh-list").click(function(){
        loadProductCategorys();
    });

    $("#is-delete").change(function () {
        loadProductCategorys();
    })

    $(document).on("change", ".@TableName.ProductCategory-checkbox", function () {
        // Gán giá trị cho biến Id để sử dụng với các hành động (sửa, xóa, v.v.)
        $productCategoryId = $(this).is(":checked") ? $(this).closest("tr").find('input[name="@AttributeNames.ProductCategory.ProductCategoryId"]').val() : "";

        // Kiểm tra số lượng checkbox đã chọn và cập nhật trạng thái của các nút
        const $length = $(".@TableName.ProductCategory-checkbox:checked").length;
        checkLengthCheckbox($length, true, true, true, true, "@TableName.ProductCategory-checkbox");
    });

    $(".create-edit-button").click(function () {
        $("#only-save-button").css("display",  $productCategoryId ? "none" : "block");

        callApi("@Url.Action(Constants.CreateOrEdit, TableName.ProductCategory)/" + $productCategoryId, "GET")
            .then(data => {
                // Khi trả ra json các field sẽ bị viết thường chữ cái đâu
                $("#@AttributeNames.ProductCategory.ProductCategoryId").val(data.id);
                $("#@AttributeNames.ProductCategory.ProductCategoryCode").val(data.productCategoryCode);
                $("#@AttributeNames.ProductCategory.ProductCategoryName").val(data.productCategoryName);
                $("#@AttributeNames.ProductCategory.Note").val(data.note);
            })
            .catch(err => {
                showMessage({ success: false, message: "F:Có lỗi xảy ra!" });
            });
    });

    $("#delete-button").click(function () {
        // Lấy tất cả các Id của các checkbox đã chọn
        const $ids = $(".@TableName.ProductCategory-checkbox:checked").map(function () {
            return $(this).closest("tr").find('input[name="@AttributeNames.ProductCategory.ProductCategoryId"]').val();
        }).get().join(",");

        $("#Ids").val($ids);

        const $form = $(this).closest("form");
        const formData = new FormData($form[0]);

        callApi("@Url.Action(Constants.Delete, TableName.ProductCategory)", "POST", formData)
            .then(data => {
                loadProductCategorys();
            })
            .catch(err => {
                showMessage({ success: false, message: "F:Có lỗi xảy ra!" });
            });
    });

    $("#delete-permanently-button").click(function () {
        // Lấy tất cả các Id của các checkbox đã chọn
        const $ids = $(".@TableName.ProductCategory-checkbox:checked").map(function () {
            return $(this).closest("tr").find('input[name="@AttributeNames.ProductCategory.ProductCategoryId"]').val();
        }).get().join(",");

        $("#Ids").val($ids);

        const $form = $(this).closest("form");
        const formData = new FormData($form[0]);

        callApi("@Url.Action(Constants.DeletePermanently, TableName.ProductCategory)", "POST", formData)
            .then(data => {
                loadProductCategorys();
            })
            .catch(err => {
                showMessage({ success: false, message: "F:Có lỗi xảy ra!" });
            });
    });

    $("#search-button").click(function () {
        loadProductCategorys();
    })

    $("#clear-button").click(function () {
        $("#@AttributeNames.ProductCategory.ProductCategoryCode").val("");

        loadProductCategorys();
    })

    function loadProductCategorys(pageIndex) {
        // Khỏi tạo filter và gán giá trị
        const $keyWord = $("#@AttributeNames.ProductCategory.ProductCategoryCode").val();
        const $isDelete = $("#is-delete").is(":checked");

        let filter = new FormData();
        filter.append("@Constants.PageIndex", pageIndex);
        filter.append("@Constants.KeyWord", $keyWord);
        filter.append("@Constants.IsDelete", $isDelete);

        $(".loader").css("display", "flex");

        callApi("@Url.Action(Constants.GetList, TableName.ProductCategory)", "POST", filter, "#@TableName.ProductCategory-table")
            .then(data => {
                // Kiểm tra số lượng checkbox đã chọn và cập nhật trạng thái của các nút
                checkLengthCheckbox(0, true, true, true, true, "@TableName.ProductCategory-checkbox");

                // Load lại table thì gán lại "" để khi bám nút thêm không lỗi
                $productCategoryId = "";
            })
            .catch(err => {
                showMessage({ success: false, message: "F:Có lỗi xảy ra!" });
            });
    }
</script>