@using NextERP.ModelBase
@using NextERP.Util
@model NextERP.ModelBase.ProductCategoryModel

<div class="modal fade" id="create-edit-modal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form class="needs-validation" id="@TableName.ProductCategory" novalidate>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" localize-content>CreateOrEdit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="@AttributeNames.ProductCategory.ProductCategoryId" type="hidden" asp-for="Id" />

                    <div class="mb-2">
                        <label for="@AttributeNames.ProductCategory.ProductCategoryCode" class="col-form-label col-md-6" localize-content>@AttributeNames.ProductCategory.ProductCategoryCode</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="text" asp-for="ProductCategoryCode" disabled />
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttributeNames.ProductCategory.ProductCategoryName" class="col-form-label col-md-6" localize-content>@AttributeNames.ProductCategory.ProductCategoryName</label>
                        <div class="col-md-12">
                            <input class="form-control form-control-sm" type="text" asp-for="ProductCategoryName" />
                            <div class="invalid-feedback" id="invalid-@AttributeNames.ProductCategory.ProductCategoryName" localize-content></div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="@AttributeNames.ProductCategory.Note" class="col-form-label col-md-6" localize-content>@AttributeNames.ProductCategory.Note</label>
                        <div class="col-md-12">
                            <textarea class="form-control form-control-sm" rows="3" asp-for="Note"></textarea>
                            <div class="invalid-feedback" id="invalid-@AttributeNames.ProductCategory.Note" localize-content></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" localize-content>Close</button>
                    <button type="button" class="btn btn-outline-primary save-button" id="only-save-button" localize-content>Save</button>
                    <button type="button" class="btn btn-primary save-button" data-bs-dismiss="modal" localize-content>Save&Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(".save-button").click(function () {
        const $form = $(this).closest("form");
        const formData = new FormData($form[0]);
        const formElement = $form[0];
        let id = formData.get("@Constants.Id");

        // Nếu không có ID (tạo mới), set Guid.Empty
        if (!id || id === "") {
            formData.set("@Constants.Id", "@Guid.Empty");
        }

        callApi("@Url.Action(Constants.CreateOrEdit, TableName.ProductCategory)", "POST", formData)
            .then(data => {
                loadProductCategorys();

                if (data && Array.isArray(data)) {
                    showInvalid(data, formElement);
                }
            })
            .catch(err => {
                showMessage("F:Có lỗi js xảy ra!");
            });
    });
</script>
